.btn-buy {
  margin-top: 20px;
  background-color: #7b181a;
}

.btn-buy:disabled,
.btn-del:disabled {
  background-color: #7b181a;
}

.btn-buy:hover,
.btn-del:hover {
  background-color: #c80c0f;
}

.btn-continue-buy a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #7b181a;
}

.btn-continue-buy:hover {
  background-color: blanchedalmond;
}

.btn-del {
  margin-left: 20px;
  background: #7b181a;
  color: #fff;
  border: 1px solid #7b181a;
}

/* .btn-del:disabled {
  border: 1px solid #7B181A;
  background-color: transparent;
  color: #000;
} */
