body {
  background-color: #ccc;
}

.home-product-items:hover {
  background-color: #ebb552;
}

.rate {
  color: #facc15;
  padding-bottom: 8px;
}

.products {
  width: 80%;
}

.product {
  width: 20%;
  margin: 20px;
  margin-left: 25px;
}

.home-product-img {
  width: 100%;
}

.intro-heading {
  display: flex;
  margin-left: 180px;
  margin-top: 50px;
}

.img-intro-1 {
  width: 42%;
}

.img-intro-2 {
  width: 18%;
  margin-left: 60px;
}

.img-intro-3 {
  width: 18%;
  margin-left: 36px;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  margin: 0 10px;
  border: none;
  border-top: 3px solid #000000;
}
