* {
  box-sizing: border-box;
}

body {
  /* background-color: yellow; */
}

.container {
  /* background-color: blueviolet; */
}

.auth-form {
  background-color: antiquewhite;
  border-radius: 8px;
  margin: 100px 0;

  width: 400px;
  padding: 50px;
}

.incorrect {
  color: red;
}

#search-results {
  display: block;
  position: absolute;
  top: 68%;
  left: 4;
  width: 99%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 0 solid transparent;
}

#search-results.hidden {
  display: none;
}

.nav-link:hover {
  background-color: #792123;
}

.btn-group:hover {
  background-color: #792123;
  color: #fff;
}

.dropdown-item {
  font-size: 14px;
}

#search-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#search-results li {
  padding: 12px 0px 12px 12px;
  font-size: 18px;
}

#search-results li:first-child {
  border-top: 0.1px solid #000;
  border: none;
}

#search-results li:hover {
  background-color: #e0d9d9;
  cursor: pointer;
}

#search-results li:last-child {
  border-bottom: none;
}

#search-results a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  padding-left: 12px;
}

#search-results p {
  margin: 0;
}

.search-btn-x {
  position: absolute;
  right: 20px;
  top: 10px;
  display: none;
  cursor: pointer;
}

.btn-group {
  padding: 0;
  float: right;
  position: relative;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
}

.home-login {
  text-decoration: none;
  color: #fff;
}

.auth-register {
  text-decoration: none;
}

.navbar {
  padding: 0;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  background-color: #7b181aeb;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: black;
  padding: 0 16px;
  border-radius: 2px;
}

.logo {
  /* display: flex; */
  margin-left: 50px;
}

.logo-img {
  position: absolute;
  width: 6%;
  margin: 2px 20px;
  border-radius: 50%;
  top: 0;
}

.search-bar-wrap {
  position: relative;
  margin-top: 10px;
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  padding-top: 5px;
  font-size: x-large;
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
  padding: 5px 5px;
}

.home-product-type {
  background-color: #f5deb3;
}

.home-product-items {
  font-size: 18px;
  padding: 0 55px;
}

.home-product-img {
  width: 225px;
  height: 225px;
  object-fit: contain;
}

.product-img {
  width: 300px;
  height: 300px;
}

.btn {
  color: #fff;
}

.home-product-items a,
.product a {
  color: black;
  text-decoration: none;
}

.product-items a:hover {
  background-color: #fff;
}

.products {
  margin: 0 12%;
  width: calc(66% - 7px);
}

.product {
  margin: 10px;
  text-align: center;
  background-color: #fff;
}

.btn .dropdown-toggle .show {
  color: burlywood;
}

.bi-cart4 {
  color: #fff;
  font-size: xx-large;
  padding-left: 50px;
  position: relative;
}

.cart-count {
  position: absolute;
  top: 1px;
  right: -12px;
  color: #7b181aeb;
  font-size: 13px;
  padding: 0px 8px;
  background-color: #fff;
  border-radius: 50%;
}


.form-check {
  width: 70px;
  align-items: center;
  justify-content: center;
}

.form-check-input {
  font-size: 35px;
}

.cart-product-price2 {
  max-width: 100px;
  line-height: 1.8;
  margin: 0 30px;
}

.cart-product button {
  color: black;
}

.btn-add-product {
  width: 200px;
  margin-top: 10px;
}

.quantity {
  width: 50px;
}

.wrap-input-password {
  position: relative;
}

.icon-password {
  position: absolute;
  right: 11px;
  top: 11px;
}

.icon-password:hover {
  cursor: pointer;
}

.cart-btn-delete {
  font-size: 35px;
  width: 50px;
  padding: 7px;
  background-color: transparent;
  border: 0;
}

.btn-continue-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 38px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #efebe4;
  border: 1px solid #792123;
  margin: 20px 0 0 40px;
}

.btn-buy {
  width: 80%;
  margin-left: 40px;
}

.cart-product-edit {
  align-items: center;
  justify-content: right;
  width: 450px;
}

.edit-cart-btn {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.edit-cart-value {
  background-color: #e9ecef;
  padding: 0px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 5px;
  border: #000;
  border: 2px solid;
  border-radius: 5px;
}

.all-price {
  text-align: center;
  margin-top: 50px;
}

.cart-pay {
  padding-top: 50px;
  background-color: #efebe4;
  max-height: 100%;
}

.form-check-all {
  margin: 0;
  padding: 0;
  width: 200px;
  font-size: 20px;
  padding-left: 35px;
}

.input-check-all {
  margin-right: 10px;
  width: 25px;
  height: 30px;
  border-radius: 1.5px;
}

.input-check {
  border-radius: 1.5px;
  width: 35px;
  height: 35px;
}