<link rel="stylesheet" href="/css/create.css">

<body class="body-create">
  <div class="heading">
    <h3>Thêm thẻ tín dụng/ghi nợ</h3>
    <form method="POST" action="/user/add-creditcard">
      {{#if errors }}
        <p class="incorrect">{{errors.msg}}</p>
      {{/if  }}
      <div class="form-group">
        <label class="title-product" for="cardnumber">Số thẻ:</label>
        <input type="text" class="form-control" name="cardnumber" id="cardnumber">
      </div>
      <div class="form-group">
        <label class="title-product" for="outofdate">Ngày hết hạn:</label>
        <input type="date" class="form-control" name="outofdate" id="outofdate">
      </div>
      <div class="form-group">
        <label class="title-product" for="CVV">Mã CVV:</label>
        <input type="text" class="form-control" name="CVV" id="CVV">
      </div>
      <div class="form-group">
        <label class="title-product" for="fullname">Họ và tên:</label>
        <input type="text" class="form-control" name="fullname" id="fullname">
      </div>
      <div class="form-group">
        <label class="title-product" for="address">Địa chỉ đăng ký:</label>
        <input type="text" class="form-control" name="address" id="address">
      </div>
      <div class="form-group">
        <label class="title-product" for="postalcode">Mã bưu chính:</label>
        <input type="text" class="form-control" name="postalcode" id="postalcode">
      </div>
     
        <div style="padding-top: 15px;">
        <button type="submit" class="btn btn-primary">Thêm thẻ tín dụng/ghi nợ</button>
        <button type="button" class="btn btn-primary exit-btn"><a href="/user">Thoát</a></button>        
      </div>
    </form>
  </div>
</body>