
<div class='d-flex justify-content-center'>
  <div class='auth-form'>
     
    <h3>Nhập mật khẩu khóa</h3>
    <form action="/user/send-keypassword" method='post'>
     {{#if incorrect }}
      <p class="incorrect">Mật khẩu khóa không chính xác!!</p>
    {{/if  }}
      <input type="text" name="username" hidden value="{{ user.username }}">
      <input name="keypassword" placeholder="Mật khẩu khóa của bạn..." required>
      <button type="submit">Gửi</button>
    </form>
  </div>

</div>