
<div class='d-flex justify-content-center'>
  <div class='auth-form'>
     
    <h3>Quên mật khẩu</h3>
    <form action="/user/send-mail" method='post'>
     {{#if incorrect }}
      <p class="incorrect">Tài khoản email và username không trùng khớp!!</p>
    {{/if  }}
     {{#if wrongKeypassword }}
      <p class="incorrect">Yêu cầu kiểm tra kĩ tài khoản email!!</p>
    {{/if  }}
      <input name="username" placeholder="Username của bạn..." required>
      <input name="mail" type="email" placeholder="Mail của bạn..." required>
      <button type="submit">Gửi</button>
    </form>

  </div>

</div>