<body>
  <nav class='navbar navbar-expand-lg bg-body-tertiary' data-bs-theme='dark'>
    <div class='container-fluid'>
      <a class='navbar-brand' href='#'>Navbar</a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'>Home</a>
          </li>

        </ul>
        <div class='btn-group'>
          {{#if isLogin}}
            <button
              type='button'
              class='btn btn-danger dropdown-toggle'
              data-bs-toggle='dropdown'
              aria-expanded='false'
              x-placement='left-start'
            >

              {{user.fullname}}

            </button>
            <ul class='dropdown-menu'>
              {{#if user.role}}
                <li><a class='dropdown-item' href='#'>Quản lí sản phẩm</a></li>
              {{else}}
                <li><a class='dropdown-item' href='#'>Thông tin tải khoản</a></li>
                <li><a class='dropdown-item' href='#'>Giỏ hàng</a></li>
                <li><a class='dropdown-item' href='#'>Đơn mua</a></li>
              {{/if}}

              <li>
                <hr class='dropdown-divider' />
              </li>
              <li><a class='dropdown-item' href='/logout'>Đăng xuất</a></li>

            </ul>
          {{else}}
            <button type='button' class='btn btn-danger'><a href='/auth/login' class='home-login'>Đăng nhập</a></button>

          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</body>