
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-4">Đăng kí</h2>

              <form action='/auth/register' method='post'>
                {{#if user_exists }}
                    <p class="incorrect">Username đã tồn tại!!</p>
                  {{/if  }}
               
                <div class="form-outline mb-4">
                  <input name='username' type="text" id="form3Example3cg" class="form-control form-control-lg" placeholder='Username'required/>
                  <label  class="form-label" for="form3Example3cg">Tài khoản</label>
                </div>

                {{#if password_wrong }}
                    <p class="incorrect">Mật khẩu không chính xác!!</p>
                  {{/if  }}

                <div class="form-outline mb-4">
                  <input name='password' type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder='Password' required/>
                  <label class="form-label" for="form3Example4cg">Mật khẩu</label>
                </div>

                <div class="form-outline mb-4">
                  <input name='fullname' type="text" id="form3Example1cg" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example1cg">Họ và tên</label>
                </div>

                 <div class="form-outline mb-4">
                  <input name='phone' type="text" id="form3Example1cg" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example1cg">Số điện thoại</label>
                </div>

                <div class="form-outline mb-4">
                  <input name='address' type="text" id="form3Example1cg" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example1cg">Địa chỉ</label>
                </div> 

                
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Đăng kí</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>