<div class='d-flex justify-content-center'>
  <div class='auth-form'>
    <h3>Đổi mật khẩu</h3>
    <form action='/user/reset-password' method='post'>

      <div class='mb-3'>
        {{#if errors }}
          <p class="incorrect">{{errors.msg}}</p>
        {{/if }}
        {{#if errpassword }}
        <p class="incorrect">Mật khẩu cũ không chính xác</p>
        {{/if }}
        {{#if password_same }}
        <p class="incorrect">Mật khẩu mới phải khác mật khẩu cũ</p>
        {{/if  }}
        <label class='form-label'>Mật khẩu cũ </label>
        <div class="wrap-input-password">
          <input name='oldpassword' type='password' class='form-control' /> <i
            class="bi bi-eye-slash-fill icon-password"></i>
        </div>
      </div>
      <div class='mb-3'>
        {{#if password_wrong }}
        <p class="incorrect">Hai mật khẩu không giống nhau</p>
        {{/if }}
        
        <label class='form-label'>Mật khẩu mới </label>
        <div class="wrap-input-password">
          <input name='newpassword1' type='password' class='form-control' /> <i
            class="bi bi-eye-slash-fill icon-password"></i>
        </div>
      </div>
      <div class='mb-3'>
        <label class='form-label'>Nhập lại mật khẩu </label>
        <div class="wrap-input-password">
          <input name='newpassword2' type='password' class='form-control' /> <i
            class="bi bi-eye-slash-fill icon-password"></i>
        </div>
      </div>
      <button type='submit' class='btn btn-primary'>Đổi mật khẩu</button>
    </form>
    <a href="/">Trở về trang chủ</a>
  </div>

</div>

<script>
   $(document).ready(function(){
    $(".icon-password").click(function(){
      var div_password = $(this).parent()
      var input_password = div_password.children().filter('.form-control')
      if (input_password.attr('type') == "password")
        input_password.attr('type','text')
      else
        input_password.attr('type','password')
      $(this).toggleClass("bi-eye-slash-fill bi-eye-fill")
    });
  });
</script>