<div class='d-flex justify-content-center'>
  <div class='auth-form'>
    <h3>Đổi mật khẩu</h3>
    <form action='/user/reset-password' method='post'>
    
      <div class='mb-3'>
        {{#if errpassword  }}
          <p class="incorrect">Mật khẩu cũ không chính xác</p>
        {{/if  }}
        <label class='form-label'>Mẩu khẩu cũ</label>
        <input name='oldpassword' type='text' class='form-control' required />
      </div>
      <div class='mb-3'>
        {{#if wrongpassword  }}
          <p class="incorrect">Mật khẩu không chính xác</p>
        {{/if  }}
        <label class='form-label'>Mật khẩu mới</label>
        <input name='newpassword1' type='text' class='form-control' required />
      </div>
       <div class='mb-3'>
        <label class='form-label'>Nhập lại mật khẩu</label>
        <input name='newpassword2' type='text' class='form-control' required />
      </div>
      <button type='submit' class='btn btn-primary'>Sửa thông tin</button>
    </form>
    <a href="/user/reset-password">Đổi mật khẩu</a>

  </div>

</div>